.add-category{
   height: 90px;
   width: 80px;
   margin: 20px;
   padding: 20px;
  font-size:1.25em;

}
button:hover{
  background-color: green;
}



*{
    font-family: 'Courier New', Courier, monospace;
    background-color: rgb(52,235,219);
 } 


 h1{
  width: 500px;
   margin: 10px auto;
   padding: 0px;
 }

 h2{
  width: 900px;
  margin:auto
 }

 .add-category{
  display: inline-block;
   padding:10px;
   width:150px;
 }

 .resource{
  width: 300px;
  height: 300px;
  margin: 10px;
  border: solid black;
  flex:  0 1 auto;
  
 }

 .container{
  display: flex;
  flex-wrap: wrap;
  
 }


